
.card-trabajo {
    height: 125px;
    background: #fff;
    position: relative;
    overflow-x: hidden;
    z-index: 10;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .skewed {
    position: absolute;
    width: 100px;
    height: 100%;
    background-color: rgba(46, 139, 86, 0.616);
    transform: skewX(25deg) translateX(-30px) scaleX(1);
    transform-origin: left;
  }
  
  .avatar-trabajo {
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    z-index: 10;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  
  
  .content-trabajo {
    margin-top: 0.7rem;
    margin-left: 9rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .content-trabajo h1,
  h3 {
    font-weight: 100;
  }
  
  .content-trabajo h1 {
    font-size: 1.10rem;
      margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
   
  }
  
  .content-trabajo h3 {
    font-size: 1rem;
      margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 40rem;
  }
  .asignado-btn {
    margin-top: 10px;
    color: grey;
    font-size: 15px;
    outline: none;
    height: 40px;
    width: 100px;
    background-color:  #eee;
    border-radius: 5px;
    float:right;
  }
  .postularse-btn {
    margin-top: 10px;
    color: #eee;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    height: 40px;
    width: 100px;
    background-color:  #06203c;
    border-radius: 5px;
    float:right;
  }
  .postularse-btn:hover {
    cursor: pointer;
    background-color: #eee; 
    color: #06203c;
  }
  .editar-btn {
    margin-top: 10px;
    margin-left: 10px;
    color: #eee;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    height: 40px;
    width: 100px;
    background-color:  #06203c;
    border-radius: 5px;
    float:right;
  }
  .editar-btn:hover {
    cursor: pointer;
    background-color: #eee; 
    color: #06203c;
  }
  .puntuar-btn {
    margin-top: 10px;
    color: #eee;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    height: 40px;
    width: 100px;
    background-color:  #06203c;
    border-radius: 5px;
    float:right;
  }
  .puntuar-btn:hover {
    cursor: pointer;
    background-color: #eee; 
    color: #06203c;
  }
  .AsignadoFoto {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 50px 0px white, 0px 0px 0px 7px white;
  }
  .AsignadoFoto img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  .eliminartrabajo-btn {
    margin-top: 10px;
    margin-left: 10px;
    color: #eee;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    height: 40px;
    width: 100px;
    background-color:  red;
    border-radius: 5px;
    float:right;
  }
  .eliminartrabajo-btn:hover {
    cursor: pointer;
    background-color: #eee; 
    color: red;
  }
  .aceptar-btn {
    margin-top: 10px;
    color: #eee;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    height: 40px;
    width: 100px;
    background-color:  #06203c;
    border-radius: 5px;
    float:right;
  }
  .aceptar-btn:hover {
    cursor: pointer;
    background-color: #eee; 
    color: #06203c;
  }
  .rechazar-btn {
    margin-top: 10px;
    margin-left: 10px;
    color: #eee;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    height: 40px;
    width: 100px;
    background-color:  red;
    border-radius: 5px;
    float:right;
  }
  .rechazar-btn:hover {
    cursor: pointer;
    background-color: #eee; 
    color: red;
  }
  .esp {
    font-size: 1.05rem;
      margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .bg-react {
    background: var(#00d8ff);
  }
  .text-react {
    color: rgba(46, 139, 86, 0.616);;
  }
  
  form p {
    text-align: center;
  }
  
  form label {
    font-size: 40px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion-stars {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }